html
  overflow-x: hidden;
  height: 100%;
  //overflow: hidden;
  //background-image url("../img/grid.png")
  //background-repeat repeat-y
  //background-position center center
  // background-size 1240px
  //background #F5F5F5
  //opacity 0.9

body
  background #F6F9FB
  width:100%
  height:100%
  overflow hidden


html *
  font-size s($ws_sBaseFont)
  font-family $bariolStack
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing antialiased
  -moz-osx-font-smoothing: grayscale

#app
  height 100%

a
  text-decoration none
  color inherit
  font-size inherit
  &:focus
  	outline: none

em
strong
b
u
  color inherit
  font-size inherit

strong
b
  font-weight: 700

abbr
  border none
  text-decoration none


form input
  appearance none
  border 0
  outline none

img
  max-width 100%
  height auto

main
  display block

.el-main
  padding s(40) 0 !important
