.el-popover
  &__text
    text-align center
  &__actions
    display: flex
    justify-content center
    margin-top 7px

@media screen and (max-width: 600px)
  .el-popover
    &__reference
      margin-top s(10,16)
      display block