/*********************************
* Styles for links and CTA
* 
* Example :
* $ctaBase
*   font-size: 21px
*   line-height: 1.1
*   letter-spacing: 1.25px
*********************************/
.btn-view-more
  cursor pointer
