/*********************************
* Styles for texts (paragraph,…)
* 
* Example :
* $paragraph21
*   font-size: 21px;
*********************************/
.t20 {
  font-size s(20)
  color $regularText
}

